.button {
  width: 248px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 3/4;
  max-height: 48px;
}

.button:hover {
  background-color: #0063d2;
}
