.button {
  width: 248px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 3/4;
  max-height: 48px;
}

.button-place {
  max-width: 248px;
}

.button-cover {
  max-width: 137px;
  z-index: 2;
  margin: 32px 0 0;
  align-self: center;
}

.button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 560px) {
  .button-cover {
    margin-top: 24px;
  }
}

@media screen and (max-width: 320px) {
  .button-place {
    max-width: 288px;
    margin: 0 auto;
  }
  .button-cover {
    margin-top: 16px;
  }
}
