.header__logo {
  display: block;
  margin: 34px auto;
  /*padding-top: 34px;*/
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin: 20px auto;
    max-width: 200px;
    max-height: 51.85px;
  }
}
