.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content 1fr;
  gap: 48px 40px;
  grid-template-areas:
    "title info"
    "image description"
    "link description";
  margin-top: 80px;
}

.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 460px;
  grid-area: title;
  margin: 0;
}

.place__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: info;
}

.place__person-role {
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 12%;
  color: #aaaaaa;
  margin: 0 0 8px;
}

.place__person-info {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.place__media-container {
  max-width: 460px;
  grid-area: image;
}

.place__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.place__description {
  grid-area: description;
}

.place__paragraph {
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 0 0 25px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    margin-top: 89px;
    gap: 46px 28px;
  }
  .place__media-container {
    max-width: 340px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 560px) {
  .place {
    gap: 30px 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .place__description {
    margin-right: 16px;
    margin-left: 16px;
  }
}
@media screen and (max-width: 320px) {
  .place {
    margin-top: 62px;
  }

  .place__media-container {
    max-width: 320px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .place__info {
    margin-right: 16px;
    margin-left: 16px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}
